.project {
  margin: 10px;
  max-width: 600px;
  transition: all 0.5s linear;
  text-decoration: none;

  img {
    width: 100%;
    height: 100%;
    border: gray solid 1px;
    border-radius: 15px;
  }

  &:hover {
    transform: scale(1.05);
  }
}